
/* Font Family - Bebas-Regular */
@font-face {
    font-family: Bebas-Regular;
    src: url('../fonts/site-text/BebasNeue-Regular.ttf');
}

/* Font Family - Bebas-Bold */
@font-face {
    font-family: Bebas-Bold;
    src: url('../fonts/site-text/BebasNeue-Bold.ttf');
}

/* Font Family - Poppins-Italic*/
@font-face {
    font-family: Poppins-Italic;
    src: url('../fonts/site-text/Poppins-Italic.ttf');
}

/* Font Family - Source Sans Pro*/
@font-face {
    font-family: SourceSansPro-Bold;
    src: url('../fonts/site-text/SourceSansPro-Bold.ttf');
}